	<a id="menuLink" class="pure-menu-link" href="#menu">
	<span></span>
	</a>
	<div id="menu">
		<div class="pure-menu pure-menu-open">
			<a class="pure-menu-heading" href="#" title="OSPICAL La Matanza">OSPICAL</a>
			<ul>
				<li class="menu-item-divided">
					<a href="{% url 'turnos.views.reservar' %}">Reservar turno</a>
				</li>
				<li class="menu-item-divided">
					<a href="{% url 'turnos.views.register' %}">Crear cuenta</a>
				</li>
				<li class="menu-item-divided">
					<a href="{% url 'django.contrib.auth.views.logout' %}">Cerrar sesión</a>
				</li>
			</ul>
		</div>
	</div>