	<a id="menuLink" class="pure-menu-link" href="#menu">
	<span></span>
	</a>
	<div id="menu">
		<div class="pure-menu pure-menu-open">
			<a class="pure-menu-heading" href="/" title="Página principal">OSPICAL</a>
			<ul>
				<li class="menu-item-divided">
					{% if perms.turnos.reservar_turnos %}
						<a href="{% url 'turnos.views.reservar' %}" 
						   title="Permite reservar uno o varios turnos a distintas especialidades">
							Reservar turno
						</a>
						<a href="{% url 'turnos.views.confirmar_reserva' %}"
						title="Permite confirmar una reserva, indicando que el afiliado está presente en el turno">
							Confirmar reserva
						</a>
						<a href="{% url 'turnos.views.cancelar_reserva' %}"
						title="Permite cancelar una reserva, indicando que el afiliado no asistirá al turno">
							Cancelar reserva
						</a>
                       <a href="{% url 'turnos.views.consultar_reservas' %}"
                        title="Permite consultar las reservas realizadas">
                            Consultar reservas
                        </a>
					{% endif %}
				</li>
				<li class="menu-item-divided">
					{% if perms.turnos.crear_turnos %}
						<a href="{% url 'turnos.views.crear_turnos' %}"
						   title="Permite crear turnos manualmente">
						Crear turnos
						</a>
					{% endif %}
					{% if perms.turnos.cancelar_turnos %}
						<a href="{% url 'turnos.views.cancelar_turnos' %}"
						   title="Permite cancelar turno de un especialista">
						Cancelar turnos
						</a>
					{% endif %}
				</li>
				{# 				{% if perms.auth.add_user %} #}
					<li class="menu-item-divided">
						<a href="{% url 'turnos.views.registrar_especialista' %}"
							   title="Permite crear un nuevo especialista">
						Registrar especialista
						</a>
					</li>
 				{#	{% endif %} #}
				{% if perms.auth.add_user %}
					<li class="menu-item-divided">
						<a href="{% url 'turnos.views.register' %}"
							   title="Permite crear nuevas cuentas de usuario">
						Crear cuenta
						</a>
					</li>
				{% endif %}

				<li class="menu-item-divided">
					<a href="{% url 'django.contrib.auth.views.logout' %}"
					   title="Permite salir del sistema de forma segura">
						Cerrar sesión
					</a>
				</li>
			</ul>
		</div>
	</div>