{% extends "site/application.html" %}
{% load static %}
{% block title %}Confirmar turno{% endblock %}

{% block js %}
	{{ block.super }}
	<script src="{% static 'js/turno.confirmar.js' %}"></script>
{% endblock %}

{% block content %}
	<form action="." method="post" enctype="multipart/form-data" class="pure-form pure-form-aligned">
		{% csrf_token %}
		<fieldset title="Confirmar Turno">	
			{{ form.afiliado }}
			<div class="pure-control-group">
				<label for="afiliado">Numero afiliado</label>
				{{ form.numero.errors }}
				{{ form.numero }}
			</div>	
			
			<div class="pure-control-group">
				<label for="turnos">Turnos pedidos</label>
				{{ form.turnos.errors }}
				{{ form.turnos }}
			</div>
			
			<div id="id_info">
				<h2>Datos de la reserva</h2>
				<table class="pure-table">
					<thead>
						<tr>
							<th>Nombre y apellido del afiliado</th>
							<th>Fecha de reserva</th>
							<th>Consultorio</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td id="id_nya">{{ item.dia }}</td>
							<td id="id_fecha_r">{{ item.responsable }}</td>
							<td id="id_consultorio">{{ item.cantidad }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="pure-controls">
				<input type="submit" value="Confirmar" class="pure-button pure-button-primary"/>
			</div>
		</fieldset>
	</form>
{% endblock %}