{% extends "site/application.html" %}
{% block title %}Crear turnos{% endblock %}

{% block content %}
	{% if last_created %}
		<div class="alert alert-info pure-u-1">
			Turnos creados hasta el día: {{ last_created|date:"DATETIME_FORMAT" }}
		</div>
	{% endif %}
	
	<form action="." method="post" class="pure-form pure-form-aligned">
		{% csrf_token %}
		<fieldset>
			<legend>Creación manual de turnos</legend>
		
			<div class="pure-control-group">
				{{ form.dias.errors }}
				<label for="id_dias">Cantidad de días</label>
				{{ form.dias }}
			</div>
		
			<div class="pure-control-group">
				{{ form.hasta.errors }}
				<label for="id_hasta">Día hasta</label>
				{{ form.hasta }}
			</div>	
		
			<div class="pure-control-group">
				{{ form.frecuencia.errors }}
				<label for="frecuencia">Frecuencia de turnos (en minutos)</label>
				{{ form.frecuencia }}
			</div>
			
			<div class="pure-controls">
			<input type="reset" value="Limpiar" class="pure-button pure-button-primary"/>
			<input type="submit" value="Crear" class="pure-button pure-button-primary"/>
			</div>
		</fieldset>
	</form>
	
	{% if historial %}
		<h2>Historial de creación de turnos</h2>
		<table class="pure-table">
			<thead>
				<th>Día</th>
				<th>Realizado por</th>
				<th>Cantidad de turnos creados</th>
			</thead>
			<tbody>
			{% for item in historial|dictsort:"dia"%}
				<tr>
					<td>item.dia</td>
					<td>item.responsable</td>
					<td>item.cantidad</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}