{% extends "site/application.html" %}
{% load static %}
{% block title %}Crear turnos{% endblock %}

{% block js %}
	{{ block.super }}
	<script src="{% static 'js/turno.crear.js' %}"></script>
{% endblock %}

{% block content %}
	<form action="." method="post" class="pure-form pure-form-aligned">
		{% csrf_token %}
		<fieldset>
			<legend>Creación manual de turnos (Frecuencia entre turnos: {{ frecuencia }} minutos)</legend>
			{% if last %}
			<ul class='messages'>
				<li class="alert info pure-u-3-4">
					Turnos creados hasta el día: {{ last.fecha|date:"DATE_FORMAT" }}
				</li>
			</ul>
			{% endif %}
		
			<div class="pure-control-group">
				{{ form.dias.errors }}
				<label for="id_dias">Cantidad de días</label>
				{{ form.dias }}
				<p>Se crearán turnos hasta el día <span id='id_hasta'>{{ hasta }}</span></p>
			</div>
			
		
			<div class="pure-controls">
			<input type="reset" value="Limpiar" class="pure-button pure-button-primary"/>
			<input type="submit" value="Crear" class="pure-button pure-button-primary"/>
			</div>
		</fieldset>
	</form>
	
	
	{% if historial %}
		<h2>Historial de creación de turnos</h2>
		<table class="pure-table">
			<thead>
				<th>Día</th>
				<th>Realizado por</th>
				<th>Cantidad de turnos creados</th>
			</thead>
			<tbody>
			{% for item in historial%}
				<tr>
					<td>{{ item.dia }}</td>
					<td>{{ item.responsable }}</td>
					<td>{{ item.cantidad }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}