{% extends "site/application.html" %}
{% load static %}

{% block js %}
	{{ block.super }}
	<script src="{% static 'js/turno.reserva.js' %}"></script>
{% endblock %}

{% block title %}Reservar turno{% endblock %}

{% block content %}
<form action="." method="post" class="pure-form pure-form-aligned pure-g-r">
	{% csrf_token %}
	<fieldset title="Datos de turno" class="pure-u-1">
		<legend>Datos de turno</legend>
		
		<div class="pure-control-group">
			{{ form.especialidad.errors }}
			<label for="id_especialidad">Especialidad</label>
			{{ form.especialidad }}
		</div>
		
		<div class="pure-control-group">
			{{ form.especialista.errors }}	
			<label for="id_especialista">Especialista</label>
			{{ form.especialista }}
		</div>
	
		<div class="pure-control-group">
			{{ form.dia.errors }}
			<label for="id_dia">Dia</label>
			{{ form.dia }}
		</div>
		
		<div class="pure-control-group">
			{{ form.turno.errors }}	
			<label for="id_hora">Hora</label>
			{{ form.turno }}
		</div>
		
	</fieldset>

	<fieldset title="Datos personales" class="pure-u-1">
		<legend>Datos personales</legend>
		{{ form.afiliado }}
		<div class="pure-control-group">
			{{ form.dni.errors }}
			<label for="id_dni">DNI</label>
			{{ form.dni }}
		</div>
	
		<div class="pure-control-group">
			{{ form.numero.errors }}
			<label for="id_numero">Numero afiliado</label>
			{{ form.numero }}
		</div>	
	
		<div class="pure-control-group">
			<label for="id_nombre">Nombre</label>
			{{ form.nombre }}
		</div>	
	
		<div class="pure-control-group">
			<label for="id_apellido">Apellido</label>
			{{ form.apellido }}
		</div>	
	
		<div class="pure-control-group">
			{{ form.telefono.errors }}
			<label for="id_telefono">Teléfono</label>
			{{ form.telefono }}
		</div>
		
	</fieldset>
	
	<div class="pure-u-1">
		<div class="pure-controls">
		<input type="reset" value="Limpiar" class="pure-button pure-button-primary"/>
		<input type="submit" value="Reservar" class="pure-button pure-button-primary"/>
		</div>
	</div>
</form>
{% endblock %}
