<div class="pure-u-1-3">
    <div id="tr-{0}" class="l-box">
        <div class="pure-g">
        <h3 class="pure-u-4-5">{1}</h3>
            <a id="{0}" class="boton_eliminar pure-u-1-5" href="#">
			<span class="ui-icon ui-icon-closethick" alt="Eliminar" title="Eliminar"></span>
		</a>
        </div>
        <p>{2}</p>
        <p>{3} - {4}</p>
     </div>
</div>