{% extends 'base.html' %}
{% load staticfiles %}

<!-- **********MENU********************* -->
{% block main %}

{% block menu %}
<a id="menuLink" class="pure-menu-link" href="#menu">
<span></span>
</a>
<div id="menu">
	<div class="pure-menu pure-menu-open">
		<a class="pure-menu-heading" href="#" title="OSPICAL La Matanza">OSPICAL</a>
		<ul>
			<li class="menu-item-divided">
				<a href="/reservar">Reservar turno</a>
		</ul>
	</div>
</div>
{% endblock %}

<div id="main">
	<div class="header">
		<h1>{% block title %}{% endblock %}</h1>
	</div>
	
	<div class="content">
		{% if success %}   
		   <div class="alert alert-success pure-u-1">{{ success }}</div>
		{% endif %}
		{% if info %} 
		   <div class="alert alert-info pure-u-1">{{ info }}</div>
		{% endif %}
		{% if warning %}   
		   <div class="alert alert-warning pure-u-1">{{ warning }}</div>
		{% endif %}
		{% if error %}   
		   <div class="alert alert-danger pure-u-1">{{ error }}</div>
		{% endif %}
		
		{% block content %}{% endblock %}
	</div>
	
	{% block footer %}
			<div class="legal pure-g-r">
				<p class="pure-u-2-5 legal-license">2014. Todos los derechos reservados</p>
				<p class="pure-u-1-5 legal-logo"><img style=" height: 50px;" src="{% static 'img/ospical.jpg' %}"/></p>
				<p class="pure-u-2-5 legal-links">La Matanza</p>
			</div>
	{% endblock %}
</div>
{% endblock %}