<?xml version="1.0" encoding="UTF-8"?> 
{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="wf-omnespro-n2-active wf-omnespro-n3-active wf-proximanova-n1-active wf-proximanova-n4-active wf-proximanova-n7-active wf-active">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/png" />
	<title>{% block title %}{% endblock %}</title>
	{% block css %}
		<link rel="stylesheet" href="{% static 'css/pure-min.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/side-menu.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.alert.css' %}" />
		<link rel="stylesheet" href="{% static 'css/redmond/jquery-ui.min.css' %}" />
	{% endblock %}
	{% block js %}
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.mask.min.js' %}"></script>
		<script src="{% static 'js/jquery-ui.min.js' %}"></script>
		<script src="{% static 'js/jquery.number.min.js' %}"></script>
		<script src="{% static 'js/noty/packaged/jquery.noty.packaged.min.js' %}"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
	{% endblock %}
</head>
<body>

<div id="layout">
{% block main %}{% endblock %}
</div>
</body>
</html>
